.banner {
    background: var(--azul-gradiente);
    text-align: center;
    padding: 2.5em 2em;
    color: var(--branco);
    text-align: center;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__conteudo {
    margin: 1em 0;
    font-weight: 500;
}

.banner__pesquisa {
    background: transparent;
    color: var(--branco);
    border: 1px solid var(--branco);
    border-radius: 90px;
    width: 100%;
    padding: 1em;
}
.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-position: 1em;
}

.banner__pesquisa::placeholder::before {
    content: url(../img/Vector.svg);
}