@import url(../css/header.css);
@import url(../css/banner.css);
@import url(../css/carrossel.css);
@import url(../css/destaque.css);
@import url(../css/topicos.css);

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: 'Poppins';
    --azul-banner: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --preto: #000000;
    --laranja-escuro: #ff7b00;
    --cinza: #858585;
    --rodape: #F9F9F9
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

